<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- 连接的数据库驱动 -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<!-- 连接的数据库的url -->
		<property name="connection.url">jdbc:mysql://localhost:3306/shamrock_test</property>
		<!-- 连接的数据库的用户名-->
		<property name="connection.username">root</property>
		<!-- 连接的数据库的密码 -->
		<property name="connection.password">asdfkjhg</property>
		<!-- 配置Hibernate数据库方言 -->
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<!-- 设置每次连接数据表时只更新 -->
		<property name="hbm2ddl.auto">update</property>
		<!-- 指定映射文件 -->
		<mapping class="vee.Account"/>
		<mapping class="vee.Money"/>
		<mapping class="vee.Property"/>
		<mapping class="vee.Music"/>
		<mapping class="vee.TransactionLog"/>
	</session-factory>
</hibernate-configuration>